# system
.DS_Store

# python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# uv
.venv

# dbt
transform/dbt_packages/
transform/logs/
transform/target/
load/*.parquet

# dlt
*.duckdb
extract/.dlt/secrets.toml

# ruff
.ruff_cache/
