name: Run extract and transform
on:
  workflow_dispatch: null
concurrency:
  group: ${{ github.workflow }}
env: {}
jobs:
  run_extract_and_transform:
    name: extract and transform

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.MY_GITHUB_ACTIONS_BOT_CLIENT_ID }}
          private-key: ${{ secrets.MY_GITHUB_ACTIONS_BOT_PRIVATE_KEY }}
      
      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
      
      - name: Check out
        uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: ${{ github.head_ref }}
          # Make sure the value of GITHUB_TOKEN will not be persisted in repo's config
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install
      
      - name: Install the project
        run: uv sync --locked --all-extras

      - name: Run dbt deps
        working-directory: transform
        run: uv run dbt deps

      - name: Run congress_legislators_pipeline pipeline
        working-directory: extract
        run: uv run congress_legislators_pipeline.py

      - name: Run dbt build
        working-directory: transform
        run: uv run dbt build

      - name: Run git status
        run: git status --ignored     

      - name: Commit load files
        run: |
          git config --global user.name "${{ steps.app-token.outputs.app-slug }}[bot]"
          git config --global user.email "${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com"
          git add --force load/*.parquet
          git commit -m "Update load data files"
          git push
          