name: Run extract and transform
on:
  workflow_dispatch: null
concurrency:
  group: ${{ github.workflow }}
env: {}
jobs:
  run_extract_and_transform:
    name: extract and transform

    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install
      
      - name: Install the project
        run: uv sync --locked --all-extras

      - name: Run dbt deps
        working-directory: transform
        run: uv run dbt deps

      - name: Run congress_legislators_pipeline pipeline
        working-directory: extract
        run: uv run congress_legislators_pipeline.py

      - name: Run dbt build
        working-directory: transform
        run: uv run dbt build

      - name: Commit load files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update load files
          file_pattern: '*.parquet'
          add_options: '--force' # bypass .gitignore
          