name: Run extract and transform
on:
  workflow_dispatch: null
concurrency:
  group: ${{ github.workflow }}
env: {}
jobs:
  run_pipeline:
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Set up Python
      run: uv python install
    
    - name: Install the project
      run: uv sync --locked --all-extras

    - name: Run congress_legislators_pipeline pipeline script
      run: cd 'extract' && python 'congress_legislators_pipeline.py'

    - name: Run dbt deps
      run: cd ../transform && dbt deps

    - name: Run dbt seed
      run: dbt seed

    - name: Run dbt run
      run: dbt run

    - name: Run dbt test
      run: dbt test
